*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	margin: 0 auto;
	display: grid;
	grid-template: 1fr 1fr 1fr 1fr / 30% 70%;
	height: 100vh;
	max-width: 1000px;
	

}
header{

	grid-column-end: span 2;
	background-color: salmon;
	color: white;

	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 1rem 0;

}

nav{
	grid-column-end: span 2;
	background-color: #52cc95;
	color: white;

	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 1rem 0;
}
nav ul{
	display: flex;
	text-decoration: none;
}

nav ul li{
	padding: 0 .5rem;
}

main{
	padding: 2rem 1rem;
}

aside{
	background-color: lightgrey;
	padding: 1rem;
}

aside img{
	width: 100%;
}
footer{
	grid-column-end: span 2;
	background-color: grey;
	
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3rem;
	
	position: sticky;
}
